.header {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.body {
  margin-top: 1rem;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;

  p {
    margin: 0;
  }

  a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
  }
}

.comments {
  margin-top: 1.5rem;

  .card {
    margin-bottom: 1rem;
  }
}
